<header>
  <ul class="nav">
    <li>
      <a href="/">Home<small>The summary</small></a>
    </li>
    <li>
      <a href="/about">Bio<small>A professional biography</small></a>
    </li>
     <li>
      <a href="/resume">Resume<small>For me to be able to print</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
